* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   outline: none;
   
}


body {
    overflow-x: hidden;
}

li {
    color: black;
}

.search img {
    width: 30px;
    height: 30px;
}

.logo {
    width: 50px;
    height: auto;
}
