* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;
  background-color: black;
}

li {
  color: white;
}



.search {
    display: flex;
  align-items: center;
  cursor: pointer;
}

.search img {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 1;
  
}



.logo h1 {
    color: white;
}

.text h1 {
    color: white;
}

.slider p:hover {
  transform: scale(1.1)!important;
  cursor: pointer;
  
}

.search input {
    background-image: linear-gradient(45deg, #d001fe 0%, #1aa1d9 100%);
    border-radius: 30px;
    width: 0%;
    position: absolute;
    right: 35px;
    height: 45px;
    display: flex;
    align-items: center;
    text-indent: 25px;
    outline: none;
    border: none;
    transition: all 0.5s;
    font-size: 24px;
    color: black;
}

::placeholder {
    color: black;
}

textarea:focus, input:focus{
    outline: none;
}

.active {
    width: 60%!important;
}


.logo img {
  width: 50px;
  height: auto;
}

.left__sidebar {
  position: fixed;
  top: 0;
  width: 100px;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #d9d9d9;
  padding: 50px 40px;
  z-index: 9;
}

.toggle {
  display: block;
  width: 25px;
  cursor: pointer;
}
.toggle span {
  width: 25px;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 0 0 4px;
}

.social {
  position: absolute;
  transform: rotate(-90deg);
  display: flex;
  left: -120px;
  bottom: 160px;
  width: 340px;
  height: 100px;
  line-height: 100px;
}

.social a {
  display: block;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 15px;
}

.wrapper {
  width: calc(100% - 100px);
  margin-left: 100px;
  height: 100vh;

}

header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.menu li {
  list-style: none;
  display: inline-block;
  margin-right: 60px;
  color: white;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  position: relative;
}

.menu li a:before,
.toggle__menu ul li a:before{
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-image: linear-gradient(45deg, #d001fe 0%, #1aa1d9 100%);
  z-index: -1;
  transition: all ease 0.5s;
  
}

.menu li a:hover:before,
.toggle__menu ul li a:hover:before {
  width: 100%;
  height: 110%;
}

.slider .text {
  width: 40%;
  float: left;
  padding: 50px 0 0 150px;
}

.slider .img {
  width: 60%;
  float: left;
}

.slider .img img {
  margin: 0 auto;
}

.slider h1 {
  font-size: 50px;
  font-weight: 600;
}

.slider p {
  font-size: 14px;
  line-height: 24px;
  color: #7d7d7d;
  margin: 30px 0 70px;
}

.slider a {
  display: inline-block;
  padding: 15px 48px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  background-image: linear-gradient(45deg, #d001fe 0%, #1aa1d9 100%);
  box-shadow: 0px 9px 20px 0 rgba(95, 157, 208, 0.5);
  transition: all ease 0.2s;
}

.slider a:hover {
  box-shadow: none;
  margin-top: 5px;
}

#overide .slick-dots {
  text-align: left;
  left: 150px;
  bottom: 25px

}

#overide .slick-dots li {
    margin: 10px;
}

#overide .slick-dots li button:before {
    font-size: 22px;
    color: white;
}

#overide .slick-dots li.slick-active button:before {
    color: #d001fe;
}

.slick-track {
    padding-bottom: 40px;
}

.shape {
    width: 490px;
    height: 490px;
    background-image: linear-gradient(45deg, #d001fe 0%, #1aa1d9 100%);
    border-radius: 100%;
    position: absolute;
    top: 150px;
    right: 150px;
    z-index: -1;
}

.shape__inner {
    width: calc(100% - 80px);

    height: calc(100% - 80px);

    background-color: black;

    border-radius: 100%;
    margin-left: 40px;
    margin-top: 40px;
}

.toggle__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: calc(100% - 100px);
    height: 100%;
    background-color: #fff;
    margin-left: 100px;
  z-index: 8;
  overflow-y: auto;
  transition: all ease-in 0.5s;
    
    
}

.toggle__menu ul li {
    list-style: none;
    display: block;

}

.toggle__menu ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 65px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin: 30px 100px;
    

}

.toggle__menu.open {
    left: 0;
}


.arrow
{
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;


  /**
   * Dark Arrow Down
   */
  background-image: url("./images/arrow.png");
  background-size: contain;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}